<mat-card>
    <mat-card-title>
        Pesquisa de Agenda
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="formPesquisaAgenda" (ngSubmit)="pesquisar()">
            <div linha fxLayoutGap="2%">
                <mat-form-field fxFlex="50%" fxFill appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput formControlName="nome" maxlength="15">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFill appearance="outline">
                    <mat-label>Médico</mat-label>
                    <mat-select formControlName="idMedico">
                        <mat-option>Selecione</mat-option>
                        <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                            {{ medico.nome }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formPesquisaAgenda.controls.idMedico.invalid">{{ getErrorMessage() }}</mat-error>
                </mat-form-field>   
                <mat-form-field fxFlex="25%" fxFill appearance="outline">
                    <mat-label>Consultorio</mat-label>
                    <mat-select formControlName="idConsultorio">
                        <mat-option>Selecione</mat-option>
                        <mat-option *ngFor="let consultorio of consultorios" [value]="consultorio.id">
                            {{ consultorio.nome }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formPesquisaAgenda.controls.idConsultorio.invalid">{{ getErrorMessage() }}</mat-error>
                </mat-form-field>  
            </div>
            <button color="primary" mat-raised-button type="submit">Pesquisar</button>
        </form>
    </mat-card-content>
</mat-card>

<div class="margin-1">
    <tabela-paginada [colunas]="tabela.colunas" 
                         [dados]="agendas" 
                         [destino]="'agendas'" 
                         [total]="total"
                         [filtro]="filtro">
    </tabela-paginada>
</div>
