<div [formGroup]="formAgenda">
    <div linha fxLayoutGap="2%">
        <mat-form-field fxFlex="50%" fxFill appearance="outline">
            <mat-label>Nome*</mat-label>
            <input type="text" matInput formControlName="nome" maxlength="100">
            <mat-error *ngIf="formAgenda.controls.nome.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>   
        <mat-form-field fxFlex="25%" fxFill appearance="outline">
            <mat-label>Médico*</mat-label>
            <mat-select formControlName="medico">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                    {{medico.nome}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formAgenda.controls.medico.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>   
        <mat-form-field fxFlex="25%" fxFill appearance="outline">
            <mat-label>Consultorio*</mat-label>
            <mat-select formControlName="medico">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let consultorio of consultorios" [value]="consultorio.id">
                    {{medico.nome}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formAgenda.controls.consultorio.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>  
    </div>
    <div linha fxLayoutGap="2%">
        <mat-form-field fxFlex="20%" fxFill appearance="outline">
            <mat-label>Hora Ínicio Atendimento*</mat-label>
            <input type="text" matInput formControlName="horaInicio" maxlength="100">
            <mat-error *ngIf="formAgenda.controls.horaInicio.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20%" fxFill appearance="outline">
            <mat-label>Hora Ínicio Atendimento*</mat-label>
            <input type="text" matInput formControlName="horaInicio" maxlength="100">
            <mat-error *ngIf="formAgenda.controls.horaInicio.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field> 
        <mat-form-field fxFlex="20%" fxFill appearance="outline">
            <mat-label>Hora Fim Atendimento*</mat-label>
            <input type="text" matInput formControlName="horaFim" maxlength="100">
            <mat-error *ngIf="formAgenda.controls.horaFim.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>   
        <mat-form-field fxFlex="20%" fxFill appearance="outline">
            <mat-label>Tempo Atendimento*</mat-label>
            <input type="text" matInput formControlName="tempoAtendimento" maxlength="100">
            <mat-error *ngIf="formAgenda.controls.tempoAtendimento.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>   
        <mat-form-field fxFlex="15%" fxFill appearance="outline">
            <mat-label>Competência*</mat-label>
            <input type="text" matInput formControlName="competencia" maxlength="100">
            <mat-error *ngIf="formAgenda.controls.competencia.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>         
    </div>
    <div linha fxLayoutGap="2%">
        
    </div>
</div>