<div [formGroup]="formAgenda">
    <div linha fxLayoutGap="2%">
        <mat-form-field fxFlex="50%" fxFill appearance="outline">
            <mat-label>Nome*</mat-label>
            <input type="text" matInput formControlName="nome" maxlength="100">
            <mat-error *ngIf="formAgenda.controls.nome.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>   
        <mat-form-field fxFlex="25%" fxFill appearance="outline">
            <mat-label>Médico*</mat-label>
            <mat-select formControlName="idMedico">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                    {{ medico.nome }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formAgenda.controls.idMedico.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>   
        <mat-form-field fxFlex="25%" fxFill appearance="outline">
            <mat-label>Consultorio*</mat-label>
            <mat-select formControlName="idConsultorio">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let consultorio of consultorios" [value]="consultorio.id">
                    {{ consultorio.nome }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formAgenda.controls.idConsultorio.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>  
    </div>
    <div linha fxLayoutGap="2%">
        <mat-form-field fxFlex="20%" fxFill appearance="outline">
            <mat-label>Hora Ínicio Atendimento*</mat-label>
            <input type="text" matInput formControlName="horaInicio" mascara="HORA" maxlength="5">
            <mat-error *ngIf="formAgenda.controls.horaInicio.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20%" fxFill appearance="outline">
            <mat-label>Hora Fim Atendimento*</mat-label>
            <input type="text" matInput formControlName="horaFim" mascara="HORA" maxlength="5">
            <mat-error *ngIf="formAgenda.controls.horaFim.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="25%" fxFill appearance="outline">
            <mat-label>Tempo Atendimento*</mat-label>
            <mat-select formControlName="tempoAtendimento">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let tempo of tempoAtendimentos" [value]="tempo">
                    {{ tempo }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formAgenda.controls.tempoAtendimento.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>   
        <mat-form-field fxFlex="15%" fxFill appearance="outline">
            <mat-label>Competência*</mat-label>
            <input type="text" matInput formControlName="competencia" mascara="COMPETENCIA" maxlength="7">
            <mat-error *ngIf="formAgenda.controls.competencia.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>     
        <mat-list fxFlex="10%" fxFill appearance="outline">
            <mat-checkbox color="primary" formControlName="possuiIntervalo" >Possui Intervalo</mat-checkbox>
        </mat-list>    
    </div>
    <!--(change)="checkboxChange($event.checked)"-->
    <div linha fxLayoutGap="2%">        
        <mat-form-field fxFlex="20%" fxFill appearance="outline" *ngIf="possuiIntervalo">
            <mat-label>Hora Ínicio Intervado*</mat-label>
            <input type="text" matInput formControlName="horaInicioIntervalo" mascara="HORA" maxlength="5">
            <mat-error *ngIf="formAgenda.controls.horaInicioIntervalo.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field> 
        <mat-form-field fxFlex="20%" fxFill appearance="outline" *ngIf="possuiIntervalo">
            <mat-label>Hora Fim Intervalo*</mat-label>
            <input type="text" matInput formControlName="horaFimIntervalo" mascara="HORA" maxlength="5">
            <mat-error *ngIf="formAgenda.controls.horaFimIntervalo.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field> 
    </div>
    <div linha fxLayoutGap="2%">
        <mat-label>Dias de Atendimento*</mat-label>
        <ul id="dia-semana-check">
            <li *ngFor="let diaSemana of diasSemanas; let i = index" formArrayName="diasAtendimentos">
                <mat-checkbox color="primary" [formControlName]="i">{{ diaSemana.descricao }}</mat-checkbox>
            </li>
        </ul>
    </div>    
</div>