.check-box-agenda {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

ul#dia-semana-check li {
    display: inline;
    margin-right: 2%;
}
ul#dia-semana-check {
    padding-left: 0;
}