<div class="example-container" >
        <mat-toolbar color="primary" class="example-toolbar">
            <button mat-icon-button (click)="toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="example-app-name">Cap - Agenda</h1>
            <span class="example-spacer"></span>
            <button mat-button [matMenuTriggerFor]="menu" matTooltip="Perfil">
                <mat-icon class="example-icon">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu" >
                <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Perfil</span>
                </button>
            </mat-menu>
            <button mat-button>
                <mat-icon class="example-icon" matTooltip="Sair" (click)="sair();">exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
    
        <mat-sidenav-container autosize class="example-sidenav-container">
            <mat-sidenav [(opened)]="snav" mode="side" fixedTopGap="56">
                <mat-nav-list>
                    <mat-list-item *ngFor="let principal of menusFixos">
                        <mat-icon>{{principal.icone}}</mat-icon>
                        <a routerLink="{{principal.url}}">{{principal.nome}}</a>
                    </mat-list-item>
                </mat-nav-list>
                <mat-nav-list>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let menu of menus">
                            <mat-expansion-panel-header >
                                <mat-panel-title>
                                    <mat-icon>{{ menu.icone }}</mat-icon>
                                        <a>{{ menu.nome }}</a>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <mat-list-item *ngFor="let subMenu of menu.subMenus">
                                    <a routerLink="{{subMenu.url}}">{{ subMenu.nome }}</a>
                                </mat-list-item>                            
                            </mat-nav-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="padding-10">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
<loading></loading>
