<h1 mat-dialog-title> Marcação de consulta </h1>
<div mat-dialog-content>
    <div linha fxLayoutGap="2%">
        <div fxFlex="50%" fxFill>
            <label>Data:</label>
            <span>{{dialogDados.dados.dia}}</span>
        </div>
        <div fxFlex="50%" fxFill>
            <label>Hora:</label>
            <span>{{dialogDados.dados.hora}}</span>
        </div>
    </div>
    <div linha fxLayoutGap="2%">
        <form [formGroup]='pacientesForm'>
            <mat-form-field fxFlex="100%" fxFill>
                <input matInput placeholder="Nome paciente" [matAutocomplete]="auto" formControlName='nome'>
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngIf="isLoading" class="is-loading">
                    <mat-spinner diameter="50"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let paciente of pacientesFiltrados" [value]="paciente">
                        <span>{{ paciente.nome }}</span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </form>
    </div>
</div>
<div mat-dialog-actions class="direita">
    <button mat-button color="primary" [mat-dialog-close]="false">{{ dialogDados.btnCancelar }}</button>
    <button mat-button color="primary" [mat-dialog-close]="true">{{ dialogDados.btnConfirmar || dialogDados.btnDesmarcar }}</button>
</div>
