<mat-card>
    <mat-card-title>
        Pesquisa de Associado
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="formPesquisaMedico" (ngSubmit)="pesquisar()">
            <div linha fxLayoutGap="2%">
                <mat-form-field fxFlex="33%" fxFill appearance="outline">
                    <mat-label>Nº Conselho</mat-label>
                    <input type="text" matInput formControlName="numeroConselho" maxlength="15" numero>
                </mat-form-field>
                <mat-form-field fxFlex="33%" fxFill appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input type="text" matInput formControlName="cpf" maxlength="14" mascara="CPF">
                </mat-form-field>
                <mat-form-field fxFlex="33%" fxFill appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput formControlName="nome" maxlength="50">
                </mat-form-field>
            </div>
            <button color="primary" mat-raised-button type="submit">Pesquisar</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <tabela-medico *ngIf="lstMedico" [lstMedico]="lstMedico"></tabela-medico>
    </mat-card-content>
</mat-card>