.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 30%;
    margin: 5% auto;
    padding: 2%;
}

.card-titulo {
    text-align: center;
    color: #673ab7;
    font-weight: bold;
}


.margin-bottom-4 {
    margin-bottom: 4%;
}