<div class="div-main">
    <mat-grid-list cols="4" rowHeight="100px" *ngIf="totaisConsultas.length > 0">            
        <mat-grid-tile *ngFor="let totalConsulta of totaisConsultas"
            [colspan]="1"
            [rowspan]="2">
            <total-consulta [total]="totalConsulta.total" [especialidade]="totalConsulta.especialidade"></total-consulta>
        </mat-grid-tile>
    </mat-grid-list>    
    <div class="div-atendimentos" *ngIf="consultas.length > 0">
        <h3>Próximos Atendimentos</h3>
    </div>
    <div class="margin-top-1" *ngIf="consultas.length > 0">
        <tabela-paginada [colunas]="tabela.colunas" 
            [dados]="consultas" 
            [destino]="'consultas'" 
            [total]="total"
            [filtro]="filtro"></tabela-paginada>
    </div>
</div>